.div{
    background-color: black;
    height: 50px;
}
.div2{
    background-color: blue;
    height: 357px;
    width: 49%;
    display: inline-block;
    padding-top: 20px;
}
.div3{
    margin-top: 20px;
    background-color: red;
    height: 316px;
    width: 50%;
    display: inline-block;
}
.div4{
    background-color: green;
    height: 50px;
    
}


















